body {
    background: #6dbb6d;
    font-family: "American Typewriter";
    overflow: hidden;
}

h1 {
    text-align: center;
}

.container {
    cursor: url('/static/hammer.png'), pointer;
    background-color: #a5875e;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #635549;
}

.col-md-1 {
    display: table;
    margin: 20px auto;
    height: 80px;
    width: 80px;
}


.imagepopup0{
    height: 100%;
    width: 90%;
    vertical-align: bottom;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.life, .scoring-system {
    font-size: 2em;
}