body {
    background: #6dbb6d;
    font-family: "American Typewriter";
    overflow: hidden;
}

h1 {
    text-align: center;
}

.container {
    background-color: #a5875e;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #635549;
}

.col-md-1 {
    display: table;
    margin: 20px auto;
    height: 90px;
    width: 90px;
}


.imagepopup0{
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}
